


  table {
    width: 100%;
    border-collapse: collapse;
    border: 10px solid black;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
  }
  
  th {
    background-color: white;
    color: black;
  }
  
  .counter {
    padding: 8px;
    color: #ccc;
  }
  
  .results tr[visible='false'], .no-result {
    display: none;
  }
  
  .results tr[visible='true'] {
    display: table-row;
  }

  